@page "{id}"
@model tuseTheProgrammer.Pages.Genders.DeleteModel
@{
    ViewData["Title"] = "Delete Existing Gender";
}
<h1 class="text-info">Delete Confirmation</h1>
<hr />
<div class="alert alert-danger">
    <h3>
        Delete existing gender @Model.Gender.Sex ??
    </h3>
    <div>
        <form method="post">
            <input hidden="hidden" asp-for="@Model.Gender.Id" />
            <button type="submit" class="btn btn-danger">Yes</button>
            <a asp-page="/Genders/Index" class="btn btn-outline-secondary">No</a>
        </form>
    </div>
</div>


