@page
@model tuseTheProgrammer.Pages.ErrorHandler.PageNotFoundModel
@{
    ViewData["Title"] = "Not Found";
}

<h1 class="text-danger">
    The resource you are looking for cannot be found!
</h1>
<a asp-page="/GenderType/Index" class="btn btn-outline-secondary">
    Click the link to view the list of employees
</a>
